{# Message component macros #}

{% macro user_message(msg) %}
<div class="message-row user">
    <div class="message-bubble user">
        <div class="message-text">{{ msg.content | replace('\n', '<br>') | safe }}</div>
    </div>
    <div class="avatar user">U</div>
</div>
{% endmacro %}

{% macro assistant_message(msg, content_html, thinking_html='') %}
<div id="msg-{{ msg.id }}" class="message-row assistant" {% if msg.oob %}hx-swap-oob="true"{% endif %}>
    <div class="avatar assistant">C</div>
    <div class="message-bubble assistant">
        {{ thinking_html | safe }}
        <div class="message-text markdown-body">{{ content_html | safe }}</div>
    </div>
</div>
{% endmacro %}

{% macro thinking_indicator() %}
<div id="thinking" class="message-row assistant">
    <div class="avatar assistant">C</div>
    <div class="message-bubble assistant">
        <div class="thinking-indicator">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro hide_thinking() %}
<div id="thinking" hx-swap-oob="true" class="hidden"></div>
{% endmacro %}
